﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Представление ActionName</title>
</head>
<body>
<div>Контроллер: <strong>@ViewBag.Controller</strong></div>
<div>Метод действия: <strong>@ViewBag.Action</strong></div>
</body>
</html>